@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  margin: 40px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
